/* Scrollbar CSS Variables */
:root {
  --color-scrollbar-thumb-dark: #2f2f2f;
  --color-scrollbar-thumb-dark-hover: #3b3b3b;
  --color-scrollbar-thumb-light: #d9d9d9;
  --color-scrollbar-thumb-light-hover: #cccccc;

  --color-scrollbar-thumb: var(--color-scrollbar-thumb-light);
  --color-scrollbar-thumb-hover: var(--color-scrollbar-thumb-light-hover);

  --scrollbar-width: calc(var(--spacing) * 2);
  --scrollbar-height: calc(var(--spacing) * 2);
  --scrollbar-thumb-radius: var(--radius-md);
}

.dark {
  --color-scrollbar-thumb: var(--color-scrollbar-thumb-dark);
  --color-scrollbar-thumb-hover: var(--color-scrollbar-thumb-dark-hover);
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-thumb-radius);
  background: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}
