/* Scrollbar CSS Variables */
:root {
  --color-scrollbar-thumb-dark: rgba(255, 255, 255, 0.15);
  --color-scrollbar-thumb-dark-hover: rgba(255, 255, 255, 0.2);
  --color-scrollbar-thumb-light: rgba(0, 0, 0, 0.15);
  --color-scrollbar-thumb-light-hover: rgba(0, 0, 0, 0.2);

  --color-scrollbar-thumb: var(--color-scrollbar-thumb-light);
  --color-scrollbar-thumb-hover: var(--color-scrollbar-thumb-light-hover);

  --scrollbar-width: 6px;
  --scrollbar-height: 6px;
  --scrollbar-thumb-radius: 10px;
}

.dark {
  --color-scrollbar-thumb: var(--color-scrollbar-thumb-dark);
  --color-scrollbar-thumb-hover: var(--color-scrollbar-thumb-dark-hover);
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-thumb-radius);
  background: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}
